<div class="container">
  <mat-toolbar color="primary" class="main-toolbar">
    <span>Heardle 2</span>
    <span class="example-spacer"></span>
    <logout-button></logout-button>
  </mat-toolbar>
  <div *ngIf="!gameOver" class="gameInfo">
    <form style="display: inline-block;" *ngIf="guessForm" [formGroup]="guessForm">
      <mat-form-field subscriptSizing="dynamic" style="margin-right: 5px;">
        <input matInput formControlName="guessText" placeholder="Enter a guess" (input)="onInput()">
      </mat-form-field>

      <mat-button-toggle-group style="margin-right: 5px;" (change)="onInput()" name="searchType" [(ngModel)]="searchType"
        [ngModelOptions]="{standalone: true}">
        <mat-button-toggle value="song">Song</mat-button-toggle>
        <mat-button-toggle value="artist">Artist</mat-button-toggle>
        <mat-button-toggle value="both">Both</mat-button-toggle>
      </mat-button-toggle-group>

      <h1 style="display: inline-block; margin-bottom: 0px;">{{this.displayGuessState()}}</h1>

      <!-- <button style="display: inline-block;" mat-icon-button [cdkCopyToClipboard]="this.displayGuessStateCopy()">
        <mat-icon>content_copy</mat-icon>
      </button> -->
    </form>

    <div>
      <button mat-raised-button style="display: inline-block; margin-right: 2%;" (click)="guess()">Guess</button>
      <p style="display: inline-block;">{{selectedSong.title + " - " + selectedSong.artist}}</p>
    </div>
  </div>

  <div *ngIf="gameOver">
    <b>{{this.gameOverText}}</b>
  </div>

  <div *ngIf="gameOver">
    <h1 style="display: inline-block; margin-bottom: 0px;">{{this.displayGuessState()}}</h1>

    <button style="display: inline-block;" mat-icon-button [cdkCopyToClipboard]="this.displayGuessStateCopy()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>

  <div id="embed-iframe" [ngStyle]="{display: gameOver ? 'block' : 'none'}" ></div>
  <div [ngStyle]="{display: gameOver ? 'block' : 'none'}">
    <div id="embed-iframe-2"></div>
  </div>

  <div *ngIf="!gameOver" class="gameSpace">
    <mat-list (click)="selectSong(song)" class="list-item" *ngFor="let song of filteredSongs; last as last">
      <mat-list-item>
        <h4 mat-line>{{song.title + " - " + song.artist}}</h4>
      </mat-list-item>

      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list>
  </div>
  <div class="media-footer">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{ this.displayTime(currentTime) }}</span>
        <mat-progress-bar mode="determinate" [value]="(currentTime / currentMaxTime()) * 100"
          color="accent"></mat-progress-bar>
        <span>{{ this.displayTime(this.currentMaxTime()) }}</span>
      </mat-toolbar-row>
      <mat-toolbar-row class="media-action-bar">
        <button mat-button (click)="play()" *ngIf="!playing" class="custom-play-button">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>

        <button mat-button (click)="stop()" *ngIf="playing">
          <mat-icon mat-list-icon>square</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
