// src/app/pages/player/player.component.scss

.example-spacer {
  flex: 1 1 auto;
}

.list-item {
  padding: 0px;
  :hover {
    background-color:#80dfff;
  }
  h4 {
    margin-bottom: 0px;
  }
}

.section {
  margin: auto;
}

.main-toolbar {
  height: 10%;
  .spacer {
    flex: 1 1 auto;
  }
  .toolbar-btn {
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.container {
  height:75%;
  display: flex;
  flex-direction: column;

  .gameInfo {
    padding-left: 5px;
  }

  .gameOver {
    padding-left: 5px;
  }

  .gameSpace {
    overflow-y:scroll;
  }
}

.media-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  mat-toolbar{
    height: 100%;
  }
  .time-slider {
    width: 100% !important;
    margin-left: 20px;
    margin-right: 20px;
  }
  .media-action-bar {
    width: 100%;
    justify-content: center;
    .mat-icon {
      height: 48px !important;
      width: 48px !important;
      font-size: 48px !important;
    }
  }
}

h1 {
  font-family:'Avenir Book, Arial';
}
h3 {
  font-family:'Avenir Book, Arial';
}
h2 {
  font-family:'Avenir Medium, Arial';
}
