<!-- src/app/pages/player/player.component.html -->
<div class="container">
  <div id="embed-iframe"></div>
  <mat-toolbar color="primary" class="main-toolbar">
    <span>Audio Player</span>
  </mat-toolbar>
  <button (click)="guess()">Guess</button>
  <p *ngIf="currentGuess <= 5">{{GUESS_TIMES[currentGuess] / 1000}} seconds. </p>
  <p>{{6 - currentGuess}} guesses remaining.</p>
  <p *ngIf="currentGuess > 5">Game Over</p>
  <div class="media-footer">
    <mat-toolbar color="primary">
      <!-- <mat-toolbar-row>
        <span >{{ 0 }}</span>
        <mat-slider class="time-slider" min="0" [max]="5" step="1"
          (input)="onSliderChangeEnd($event)"></mat-slider>
        {{ 5 }}
      </mat-toolbar-row> -->
      <mat-toolbar-row class="media-action-bar">
        <button mat-button (click)="play()" *ngIf="!playing">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>

        <button mat-button (click)="pause()" *ngIf="playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
